@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #017042;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.app-title {
  font-family: "PlaywriteNZ", sans-serif;
  color: var(--color-primary);
}

@font-face {
  font-family: "PlaywriteNZ";
  src: url("/fonts/PlaywriteNZ-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@keyframes rotate360 {
  from {
    rotate: y 0deg;
  }
  to {
    rotate: y 360deg;
  }
}

.img-rotate {
  animation: rotate360 3s linear infinite;
}
